@{
  Layout="Shared/_Layout.cshtml";
}

@if(Model["form-type"] == "new-band")
{
  <h1 class="text-center">Add a band</h1>
  <form action="/bands/new" method="post">
    <div class="form-group">
      <label for="band-name">Name</label>
      <input type="text" name="band-name" class="form-control">
    </div>
    <input type="hidden" name="show-info-new" class="form-control" value="band-new">
    <button type="submit" class="btn btn-info">Add band</button>
  </form>
}

@if(Model["form-type"] == "new-venue")
{
  <h1 class="text-center">Add a venue</h1>
  <form action="/venues/new" method="post">
    <div class="form-group">
      <label for="venue-name">Name</label>
      <input type="text" name="venue-name" class="form-control">
    </div>
    <div class="form-group">
      <label for="venue-city">City</label>
      <input type="text" name="venue-city" class="form-control">
    </div>
    <input type="hidden" name="show-info-new" class="form-control" value="venue-new">
    <button type="submit" class="btn btn-info">Add venue</button>
  </form>
}
